{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Currency Converter</h1>


<section>
   <form action="{{ url_for('conversion') }}" method="POST">
      <label for="converting_from" name="converting_from">Converting from: </label><br>
      <input type="text" name="convert_from"><br>
      <label for="converting_to" name="converting_to">Converting to: </label><br>
      <input type="text" name="convert_to"><br>
      <label for="amount" name="amount">Amount: </label><br>
      <input type="text" name="amount"><br>
      <button type=submit class="submit">Convert</button>
   </form>
</section>
{% endblock %}